.navbar {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 100vw;
	/* background-color: #30638e; */
	color: white;
	position: absolute;
	top: 0;
}

.navitems {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 60vw;
	/* background-color: black; */
}
.hero {
	/* justify-self: flex-start; */
}
